# Unity 기본 무시 항목
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
Logs/

# VS 관련
.vs/
*.csproj
*.sln
*.user
*.suo

# 에디터/툴
.vscode/
.idea/
*.code-workspace

# OS 파일
.DS_Store
Thumbs.db

# Addressables
/ServerData/

# Android 빌드 키 제외
*.keystore
*.jks
